
.video{
    position: relative;
    background-color: #0e0d0d;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    bottom: 20px;
    display: flexbox;
}
.vid p{
    position: relative;
    text-decoration: solid;
    text-transform: capitalize;
    top: 30px;
}
.vid1 video{
    position: relative;
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    border: 1px solid green;
    top: 30px;
     justify-items: end;
     cursor: pointer;
     transition: 0.3s;
         border-radius: 0 0 10px 10px;
}
.vid1 video:hover{
    font-size: 20px;
    box-shadow: 0 0 10px 10px #0bfa17;
}
.video1{
    position: relative;
    align-items: center;
    background-color: #333333;
    bottom: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.paragraph p{
    position: relative;
    top: 10px;
    text-align: center;
    text-decoration: solid;
    text-transform: capitalize;
    color: rgb(245, 244, 244);
}
.video0 video{
    position: relative;
    border: 1px solid blue;
    top: 10px;
     width: 20vw;
    height: 20vh;
    border-radius: 10px;
}
.video0 video:hover{
    font-size: 20px;
    border: 1px solid #087059;
    box-shadow: 0 0 10px 10px #087059;
}
.hav{
background-color: #ff06de;
padding: 0.2rem;
text-transform: capitalize;
border: 1px solid rgb(230, 215, 215);
justify-items: center;
}
.lite{
display: -webkit-box;
gap: 20px;
}
.lite a{
    text-decoration: none;
    position: relative;
    color: rgb(1, 1, 12);
    margin-left: 20px;
    display: -moz-box;
    transition: 0.3s;
    bottom: 15px;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 5px 5px 0 0 orangered;
}
.lite a:hover{
background:transparent;
color: rgb(245, 221, 8);
text-decoration: underline;
text-transform: lowercase;
font-size: 20px;
}

.log{
    position: relative;
    top: 20px;
    right: 20px;
    width: 2vw;
    background-color: #867898;
    height: 4vh;
  border-radius: 20px;
  display:flexbox;
}
.hor p{
    position: relative;
    bottom: 10px;
    margin-right: 0px;
        border-radius: 0 0 10px 10px;
}
.hor textarea{
    position: relative;
    height: 5vh;
    width: 20vw;
    border-radius: 20px;
    top: 10px;
    border: 1px solid #0bfa17;
    text-align: center;
    text-decoration: solid;
    text-transform: capitalize;
    font-size: medium;
}
.hor button{
    position: relative;
    width: 16vw;
    height: 4vh;
    background-color: blue;
    color: white;
    border: 1px solid rgb(1, 1, 253);
}
.hor button:hover{
    font-size: medium;
    text-decoration: solid;
    text-transform: lowercase;
    border: 1px solid #087059;
    background-color: #087059;
    border-radius: 20px;
    color: black;
}
.search{
    position: relative;
    justify-items: center;
    background-color: #534;
    height: 10vh;
     animation-name: anima;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.search input{
    position: relative;
    width: 40vw;
    height: 5vh;
    top: 15px;
    text-align: center;
    font-size: 20px;
    background-color: #0e0d0d;
    color: white;
    border: 1px solid #0e0d0d;
    border-radius: 20px;
}
@keyframes anima{
    from{
        background-color:#867898 ;
    }
    to{
        background-color: #087059;
    }
}
.search input:hover{
    color: #0bfa17;
    text-transform: capitalize;
}
.search button{
    position: relative;
    width: 10vw;
    height: 5vh;
    border: 1px solid #0bfa17;
    text-decoration: solid;
    background-color: #0bfa17;
    cursor: pointer;
    transition: 0.3s;
    top: 15px;
}
.search button:hover{
    background-color: #ff06de;
    border: 1px solid #ff06de;
    font-size: medium;
    text-align: center;
    border-radius: 10px;
}
.download{
    position: relative;
    background-color: antiquewhite;
    border: 2px solid antiquewhite;
    height: 100vh;
    bottom: 35px;
}
.download p,h2{
    position: relative;
    text-align: center;
    text-decoration: solid;
    text-transform: capitalize;
    color: blue;
}
.ima{
    position: relative;
    width: 25vw;
    height: 40vh;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}
.ima:hover{
    font-size: medium;
   direction: ltr;
   font-weight: lighter;
   box-shadow: 5px 0 0 5px white;
   font-size: 20px;
}
.w img{
    position: relative;
    width: 15vw;
    height:20vh ;
   top: 10px;
   border-radius: 10px;
}
.ima b{
    position: relative;
    top: 10px;
    text-decoration: solid;
    text-transform: capitalize;
    display: grid;
}
.imi{
   text-align: center;
   position: relative;
   width: 25vw;
   font-display: fallback;
   height: 45vh;
   bottom: 270px;
   left: 370px;
   border-radius: 10px;
   display: grid;
   border: 2px solid white;
   cursor: pointer;
   transition: 0.3s;
   background-color: white;
}
.r img{
    position: relative;
    width: 15vw;
    height: 20vh;
    top: 10px;
    border-radius: 10px;
}
.imi:hover{
      font-size: medium;
   direction: ltr;
   font-weight: lighter;
   box-shadow: 5px 0 0 5px white;
   font-size: 20px;
}
.ini{
    position: relative;
    width: 25vw;
    height: 40vh;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
   text-align: center;
   isolation: isolate;
    transition: 0.3s;
        bottom: 550px;
       left: 735px;
}
.ini:hover{
    box-shadow: 5px 0 0 5px white;
    font-size: medium;
    direction: ltr;
    font-weight: lighter;
}
.t img{
     position: relative;
    width: 15vw;
    height: 20vh;
    top: 10px;
    border-radius: 10px;
}